
    body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  height: 61px;
  width: 60px;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  border-radius: 11%;
}

.first::-webkit-color-swatch,
.second::-webkit-color-swatch{
  border-radius: 10%;
  border: 5px solid #888;
}
h3
{
color: cyan;
box-shadow: 3px 4px 3px cyan;
}


.copyright{
  text-align: center;
  color: aqua;
  margin-top: 500px;
}
